.icon-config {
  margin-right: 10px;
}

.item-config {
  /* padding-left: 8px; */
  padding-right: 3px;
}

.input-config {
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.register-button{
  float:right; 
  margin-right: 4%; 
  margin-bottom: 2%;
}

.register-area {
  margin:10%;
}

.result-button {

  margin: 0 auto;
  max-width: 50%;
  text-align: center;
  
}